h1 {
    /* background-color: rgb(255, 255, 255); */
    background: #0000FF;
}

/* 

RGB:
    RED 
    GREEN
    BLUE

HEXADECIMAL:

DECIMAL (10) => 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F
10, 11, 12...19, 1A, 1B, 1C...1F, 20, 21...29, 2A, 2B...2F, 30, 31...39, 3A, 3B...3F, 40, 41...49, 4A, 4B...4F, 50, 51...59, 5A, 5B...5F, 60, 61...69, 6A, 6B...6F, 70, 71...79, 7A, 7B...7F, 80, 81...89, 8A, 8B...8F, 90, 91...99, 9A, 9B...9F, A0, A1...A9, AA, AB...AF, B0, B1...B9, BA, BB...BF, C0, C1...C9, CA, CB...CF, D0, D1...D9, DA, DB...DF, E0, E1...E9, EA, EB...EF, F0, F1...F9, FA, FB...FF

*/

/*