* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto 100px;
}

.container {
    margin: 55px 120px;
}

#pai {
    display: flex;
}

li {
    list-style: none;
    margin: 0px 50px 0px 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.link {
    text-decoration: none;
    color: rgb(109, 106, 106);
    text-transform: uppercase;
}

.link-login {
    background-color: rgb(123, 66, 214);
    color: white;
    padding: 10px;
    width: 130px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    margin: 55px 120px;

}

.container4-box {
    margin-bottom: 50px;
}

.container4-box h1 {
    font-size: 53px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(77, 78, 80);
    /* margin-bottom: 20px; */
    width: 500px;
}

.container4-box h2 {
    font-size: 30px;
    /* text-transform: uppercase; */
    font-weight: bold;
    color: rgb(77, 78, 80);
    width: 500px;

}

.class-p {
    width: 350px;
    color: rgb(77, 78, 80);
    margin-bottom: 25px;
}

button {
    background-color: rgb(147, 155, 35);
    color: black;
    padding: 15px;
    width: 110px;
    height: 43px;
    border: none;
    border-radius: 10px;
}

button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}